body { margin-left: 11%; margin-right: 11%; }
h1 { margin-bottom: 2em; font-weight: normal; text-align: center;
     font-size: 1.4em; margin-bottom: 0; }
p { text-indent: 1.15em; margin-top: 0.1em; margin-bottom: 0.1em;
    text-align: justify; }
.titlepage { border-bottom: 1px solid #999; margin-bottom: 1em; }
figure.center70 { margin-left: 15%; width: 70%; }
.title-block { text-align: center; margin: 2em 0; }
title-block p { margin: 0.5em 0; }
/* front page separators */
.title_block {  }
.tar { text-align: right }
p.ni { text-indent: 0; }
.the_title, .the_author, .the_illustrator { text-align: center; }
.the_title { font-size: 1.4em; font-weight: bold; }
.the_author { font-size: 1.2em; }
.the_illustrator { font-size: 1.1em; }
p.tp { font-style: italic; text-indent: 0; }
.signature { font-style: normal; font-variant: small-caps; }
.tn { text-indent:0; margin-top: 2em; 
      border:none; border-top: 1px solid silver; }